.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}


.nav-items >ul{

list-style-type: none;
display: flex;

}
.nav-items >ul >li{
    padding: 10px;
}
.img-logo{
    width:100px;
    border-radius: 30%;
}


.card{
    width:200px;
    border: 1px solid black;
    padding: 10px;


}


.card>img{
    width: 100%;
}
.restuarant-list{
    display: flex;
    flex-wrap: wrap;
}
